
{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo_icon.ico') }}">

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li class="active"><a href="{{ url_for('contactus') }}">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <img src="static/logo.png" alt="logo_SupervisorXP"  width="150" height="100">

    <div class="container">

      <div class="starter-template">
        <h1>Contact Us</h1>
        <p class="lead">Școala Generală Mihai Eminescu Buzau</p>
        <p class="lead">Director : Mihaela Niță</p>
        <p class="lead">Număr Telefon : 0770174815</p>
        <p class="lead">Număr Fax : 0251418803</p>
        <p class="lead">E-mail : SG_Mihai_Eminescu_BZ@gmail.com</p>
        <p class="lead">Adress : România,Buzău,Buzău,M 14,General G. Baștan,Numărul 41</p>
      </div>

    </div><!-- /.container -->
{% endblock %}



