{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboardProf') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
           
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" style="font-size:1.5vw;">Profesor <span class="sr-only">(current)</span></a></li>
            <li><a href={{ ip }} style="font-size:1.5vw;">Video Stream Live</a></li>
            <li><a href="{{ url_for('filterPrezProf') }}" style="font-size:1.5vw;">Cautare Prezente</a></li>
            <li><a href="{{ url_for('set_prez') }}" style="font-size:1.5vw;">Adaugare Prezente</a></li>
            <li><a href="{{ url_for('showOrarProf') }}" style="font-size:1.5vw;">Vizualizare Orar</a></li>
            
                   
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Bine ati venit  {{ name }}</h1>
          <h1 class="page-header">Locatia curenta a camerei : {{ location }}</h1>
          <h3>Contul de "Profesor" permite vizualizarea prezentelor la clasă .</h3>
          <h3>Proprietatile Profesorului sunt : - Accesarea listelor de prezență</h3>
          <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  - Trecerea prezențelor în anumite cazuri</h3>
          <h3 class="page-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Vizualizarea orarului </h3>
          <h3 class="page-header" style="color:red">ATENTIONARE : Deoarece Profesorul este singurul cont care permite urilizatorului sa modifice prizenta unui elev din lista de prezente . Se recomanda utilizarea acestei functii doar in cazuri exceptionale , precum motivarea unei absente pe fond medical .</h3>     

        </div>
{% endblock %}
