{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
           
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" style="font-size:1.5vw;">Administrator <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('gallery') }}" style="font-size:1.5vw;">Securitate</a></li>
            <li><a href="{{ url_for('eliminare') }}" style = "font-size:1.5vw;">Eliminare Data</a></li>
            <li><a href={{ ip }} style="font-size:1.5vw;">Video Stream Live</a></li>
            <li><a href="{{ url_for('filter_prez') }}" style="font-size:1.5vw;">Cautare Prezente</a></li>
            <li><a href="{{ url_for('Orarul') }}" style="font-size:1.5vw;">Introducere Curs</a></li>
            <li><a href="{{ url_for('deleteOra') }}" style="font-size:1.5vw;">Stergere Curs</a></li>
            <li><a href="{{ url_for('showOrarul') }}" style="font-size:1.5vw;">Vizualizare Orar</a></li>
            <li><a href="{{ url_for('set_location') }}" style="font-size:1.5vw;">Setare Locatie Camera</a></li>
            <li><a href="{{ url_for('FacialScaning') }}" style = "color:red;" style = "font-size:1.5vw;">Scanare Faciala</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <h1 class="page-header" style="color:red">Butoanele de mai jos vor cauza eliminarea definitivă a tuturor datelor specificate.Utilizați aceste funcții cu mare grijă !</h1>
         <form class="form-signin" method="POST" action="/deleteAllOrar">
        <button class="btn btn-lg btn-primary btn-block" style="color:red" type="submit">Stergere Completa Orar</button>
      </form>
         <form class="form-signin" method="POST" action="/deleteAllPrez">
        <button class="btn btn-lg btn-primary btn-block" style="color:red" type="submit">Stergere Completa Prezente</button>
      </form>
 
         <form class="form-signin" method="POST" action="/deleteGallery">     
        <button class="btn btn-lg btn-primary btn-block" style="color:red" type="submit">Stergere Imagini Securitate</button>
      </form>
        </div>
{% endblock %}

