{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
SupervisorXP
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

{% endblock %}

{% block content %}
    <img src="static/logo.png" alt="logo_SupervisorXP"  width="150" height="100">

    <div class="container">

      <form class="form-signin" method="POST">
        <h2 class="form-signin-heading" style="color:red">{{ mesaj }}</h2></form>

    </div> <!-- /container -->
{% endblock %}
