{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
           
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" style="font-size:1.5vw;">Administrator <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('gallery') }}" style="font-size:1.5vw;">Securitate</a></li>
            <li><a href="{{ url_for('eliminare') }}" style = "font-size:1.5vw;">Eliminare Data</a></li>
            <li><a href={{ ip }} style="font-size:1.5vw;">Video Stream Live</a></li>
            <li><a href="{{ url_for('filter_prez') }}" style="font-size:1.5vw;">Cautare Prezente</a></li>
            <li><a href="{{ url_for('Orarul') }}" style="font-size:1.5vw;">Introducere Curs</a></li>
            <li><a href="{{ url_for('deleteOra') }}" style="font-size:1.5vw;">Stergere Curs</a></li>
            <li><a href="{{ url_for('showOrarul') }}" style="font-size:1.5vw;">Vizualizare Orar</a></li>
            <li><a href="{{ url_for('set_location') }}" style="font-size:1.5vw;">Setare Locatie Camera</a></li>
	    <li><a href="{{ url_for('FacialScaning') }}" style = "color:red;" style = "font-size:1.5vw;">Scanare Faciala</a></li>
            
                   
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3>Acest conținut este destinat doar administratorului și are caracter informativ.</h3>
          <h3>Scanarea facială este o operație esențială pentru acest sistem de supraveghere . Acesta permite introducerea datelor biometrice ale elevilor și angajaților instituției de învățământ .</h3>
<h3>Scanarea Facială nu poate fi executată prin intermediul aplicației . Aceasta necesită conectarea unei camere de supraveghere la un monitor , o tastatură și un mouse .</h3>
<h3>Odată pornit sistemul de operare al camerei , se va accesa terminalul acesteia .</h3>

<h3>Iar prima comandă introdusă va fi ”cd ~/Desktop/RecunoastereFaciala”</h3>
<h3>Comanda introdusă va permite accesarea directorului ”RecunoastereFaciala” prin intermediul terminalului . Iar după aceea se va introduce ,tot în terminal , comanda ”python3 training.py” </h3>
<h3>În urma executării acestei comenzi va apărea, în terminal, un câmp în care să introduceți numele persoanei scanate , iar după aceea un alt câmp în care să introduceți calsa din care face parte elevul , sau denumirea postului oferit , în cazul unui angajat (de exempleu ”Profesor” sau ”Paznic”)</h3>
<h3>Ca urmare a completării acestor câmpuri , se va deschide o fereastră , denumită ”Face Scaning” unde poate fi vizionat protocolul de scanare , de către administrator . În acest timp persoana scanată trebuie să stea în fața camerei de supraveghere , miscând ușor capul de la stânga la dreapta și de sus în jos , pentru o mai bună observare a caracteristicilor faciale .</h3>
<h3>În timpul scanării caracteristicilor faciale ,în terminal se va afișa numărul fiecărei poze create , scanarea facială se va opri atunci când numărul pozelor făcute va atinge 200 , în acel moment fereastra de scanare facială se va închide automat .</h3>
<h3>Acest proces trebuie repetat pentru fiecare persoană introdusă în memoria sistemului de securitate .</h3>
<h3>În momentul în care a fost scanată și ultima persoană , în terminal se va introduce următoarea comanda ”python3 classifier.py”.Această comandă va antrena rețeaua neuronală folosită în programul de recunoaștere facială .</h3>
<h3 class="page-header">Pentru a se evita repetarea acestui proces și pentru celelalte camere , se recomandă copierea directorului ”data” , a fișierului ”classifier.yml” și a bazei de date ”ex.db” , din directorul ”RecunoastereFaciala” al camerei setate , în același director al celorlalte camere .</h3>


          <h3 class="page-header" style="color:red">ATENTIONARE : Această procedură executată corect este esențială pentru buna funcționare a camerei de supraveghere . Executați cu grijă orice pas . </h3>     

        </div>
{% endblock %}
