<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unknown</title>
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">


</head>
<body>

<div class = "center">
<h1>Persoane Necunoscute :</h1>
{% for imagelist in imagelist %}
<div class="gallery">
<img src = "{{ url_for('static', filename=imagelist)}}" >
</div>
{% endfor %}
</div>
</body>
</html>
