
{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo_icon.ico') }}">

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <img src="static/logo.png" alt="logo_SupervisorXP"  width="150" height="100">

    <div class="container">

      <div class="starter-template">
        <h1>Supervisor</h1>
        <p class="lead">Supervisor este o tehnologie modernă de supraveghere , special dezvoltată pentru instituțiile școlare . Sistemul de supravegher Supervisor permite detectarea intrușilor în perimetrul școlii prin intermediul funcției de recunoaștere facială , bazată pe tehnologia IA .<br>Acest sistem are atât funcți destinate securității instituției , cât și funcții destinate îmbunătățirii experienței școlare . Precum realizarea prezenței la clasă în mod automat . Totodată acesată tehnologie permite părinților să se conecteze la acest sistem , aceștia având acces la informațiile copiilor lor .</p>
      </div>

    </div><!-- /.container -->
{% endblock %}



