{% extends "bootstrap/base.html" %}

{% block title %}
Supervisor
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Supervisor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboardPaznic') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" style="font-size:1.5vw;">Paznic <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('gallery') }}" style="font-size:1.5vw;">Securitate</a></li>
            <li><a href={{ ip }} style="font-size:1.5vw;">Video Stream Live</a></li>
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h1 class="page-header">Username : {{ name }}</h1>
          <h2 class="page-header">Email : {{ email }}</h2>
          <h2 class="page-header">Account tipe : {{ account }}</h2>
<form method="get" action="/modify">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Modify Profile Data</button>
</form>
          <form method="get" action="/delete">
          <button class="btn btn-lg btn-primary btn-block" style="color:red" type="submit">Delete profile</button>
          </form>
        </div>
      </div>
    </div>

         {% endblock %}
