<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

</head>
<body>

{% for imagelist in imagelist %}
<div class="gallery">
<img src = "{{ url_for('static', filename=imagelist)}}" >
</div>
{% endfor %}
</div>

</body>
</html>
