body{
    background: gray;
    background-image:url("background.jpg");
    color: white;
}

.video{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
